<div class="postlist-cards">
{%- for post in postslist | reverse %}
	<article class="post-card{% if post.url == url %} post-card-active{% endif %}">
		{%- if post.data.tags %}
		<div class="post-card-tags">
			{%- for tag in post.data.tags %}
			{%- if tag != "posts" %}
			<a href="/tags/{{ tag | slugify }}/" class="post-tag">{{ tag }}</a>
			{%- endif %}
			{%- endfor %}
		</div>
		{%- endif %}
		<h3 class="post-card-title">
			<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		</h3>
		{%- if post.data.description %}
		<p class="post-card-description">{{ post.data.description }}</p>
		{%- endif %}
	</article>
{%- endfor %}
</div>
